.header {
    display: grid;
    grid-template-columns: min-content 1fr min-content;

    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);

    gap: var(--space-3);

    padding: var(--space-2);
    margin-bottom: var(--space-6);

    min-height: 5rem;
    max-height: 5rem;

    position: sticky;
    top: 0;
    z-index: 100;
}

.triple-button {
    position: relative;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(3, auto);
    background: transparent;

    width: 11rem;
    height: 5rem;
    border-radius: 2.5rem;

    padding: var(--space-4);


    border: none;

    .triple-button-point-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        width: min-content;
        height: min-content;
    }

    .triple-button-point {
        box-sizing: border-box;
        position: relative;
        display: flex;

        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;

        transition: var(--transition-fast);
        z-index: 1;
        background: currentColor;

        filter: saturate(0.5);
        box-shadow: 0 10px 10px color-mix(var(--color-shadow) 10%, transparent);
        border: none;
    }

    .triple-button-point::before {
        content: "";
        position: absolute;
        top: -7.5%;
        left: -7.5%;
        opacity: 0;

        width: 110%;
        height: 110%;
        border-radius: 50%;

        border: 1px solid currentColor;

        transform: scale(1.4);
        transition: var(--transition-fast);
        z-index: -1;
    }

    .triple-button-point.red {
        color: var(--color-red-text);
    }

    .triple-button-point.yellow {
        color: #f1c703;
    }

    .triple-button-point.green {
        color: #42ba52;
    }

    .triple-button-point.active {
        width: 3rem;
        height: 3rem;

        filter: saturate(1);
    }

    .triple-button-point.active::before {
        opacity: 1;
        transform: scale(1);
    }

    .triple-button-point.inactive {
        width: 2rem;
        height: 2rem;

        filter: saturate(0.3);
    }
}

.rows {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-2);

    padding: var(--space-4) var(--space-4) 0 var(--space-4);
}

.row {
    display: flex;
    align-items: center;

    height: min-content;
    border-radius: 2.5rem;

    background-color: var(--color-bg-contrast);
    box-shadow: 0 10px 10px color-mix(var(--color-shadow) 10%, transparent);
    border: 1px solid var(--color-border);
}

.checklist-counter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: var(--space-1);
    box-sizing: border-box;

    height: 3rem;
    width: min-content;
    border-radius: var(--space-4);

    background-color: var(--color-bg-contrast);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 10%, transparent);
    padding: var(--space-2);
    border: 1px solid var(--color-border);

    .checklist-cell-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--space-2);
        width: 3rem;

        span {
            font-weight: 600;
            font-size: 0.7rem;
            user-select: none;
            color: var(--color-bg-contrast);
        }
    }

    .checklist-cell-counter.red {
        background-color: var(--color-red-text);
    }
    .checklist-cell-counter.yellow {
        background-color: #e4bd04;
    }
    .checklist-cell-counter.green {
        background-color: #42ba52;
    }
    .checklist-cell-counter.gray {
        background-color: var(--color-text-contrast);
    }
}

.for-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    height: 100%;
    box-sizing: border-box;

    border: 1px solid var(--color-border);
    background-color: var(--color-bg-contrast);
    border-radius: var(--space-5);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);
    padding: var(--space-3) var(--space-5);
}

.header-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;

    label {
        color: var(--color-text-contrast);
        font-size: 0.5rem;
        user-select: none;
    }

    span {
        color: var(--color-text);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.6rem;
    }
}

.header-cell,
.header-cell span,
.header-cell label {
    min-width: 0;
    min-height: 0;
    max-height: 100%;
}