.header {
    display: grid;
    grid-template-columns: min-content 1fr min-content;

    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);

    gap: var(--space-3);

    padding: var(--space-2);
    margin-bottom: var(--space-6);

    min-height: 5rem;
    max-height: 5rem;

    position: sticky;
    top: 0;
    z-index: 100;
}


.double-button {
    grid-template-columns: repeat(2, auto);
    padding-inline: 2rem !important;
}

.triple-button {
    grid-template-columns: repeat(3, auto);
}


.double-button,
.triple-button {
    position: relative;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;

    display: grid;
    background: transparent;

    width: 11rem;
    height: 5rem;
    border-radius: 2.5rem;

    padding: var(--space-4);


    border: none;

    .double-button-point,
    .triple-button-point {
        box-sizing: border-box;
        position: relative;
        display: flex;

        width: 2rem;
        height: 2rem;
        border-radius: 50%;

        transition: var(--transition-fast);
        z-index: 1;
        background: currentColor;

        filter: saturate(0.2);
        box-shadow: 0 10px 10px color-mix(var(--color-shadow) 10%, transparent);
        border: none;
    }

    .double-button-point::before,
    .triple-button-point::before {
        content: "";
        position: absolute;
        top: -7.5%;
        left: -7.5%;
        opacity: 0;

        width: 110%;
        height: 110%;
        border-radius: 50%;

        border: 1px solid currentColor;

        transform: scale(1.4);
        transition: var(--transition-fast);
        z-index: -1;
    }

    .double-button-point.red,
    .triple-button-point.red {
        color: #d83747;
    }

    .double-button-point.yellow,
    .triple-button-point.yellow {
        color: #f1c703;
    }

    .double-button-point.green,
    .triple-button-point.green {
        color: #42ba52;
    }

    .double-button-point.active,
    .triple-button-point.active {
        width: 3rem;
        height: 3rem;

        filter: saturate(1);
    }

    .double-button-point.active::before,
    .triple-button-point.active::before {
        opacity: 1;
        transform: scale(1);
    }

    .double-button-point.inactive,
    .triple-button-point.inactive {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.rows {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-2);

    padding: var(--space-4) var(--space-4) 0 var(--space-4);
}

.row {
    display: flex;
    align-items: center;

    height: min-content;
    border-radius: 2.5rem;

    background-color: var(--color-bg-contrast);
    box-shadow: 0 10px 10px color-mix(var(--color-shadow) 10%, transparent);
    border: 1px solid var(--color-border);
}

.checklist-counter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: var(--space-1);
    box-sizing: border-box;

    height: 3rem;
    width: min-content;
    border-radius: var(--space-4);

    background-color: var(--color-bg-contrast);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 10%, transparent);
    padding: var(--space-2);
    border: 1px solid var(--color-border);

    .checklist-cell-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--space-2);
        width: 3rem;

        span {
            font-weight: 600;
            font-size: 0.7rem;
            user-select: none;
            color: var(--color-bg-contrast);
        }
    }

    .checklist-cell-counter.red {
        background-color: #d83747;
    }
    .checklist-cell-counter.yellow {
        background-color: #e4bd04;
    }
    .checklist-cell-counter.green {
        background-color: #42ba52;
    }
    .checklist-cell-counter.gray {
        background-color: var(--color-text-contrast);
    }
}

.for-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    height: 100%;
    box-sizing: border-box;

    border: 1px solid var(--color-border);
    background-color: var(--color-bg-contrast);
    border-radius: var(--space-5);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);
    padding: var(--space-3) var(--space-5);
}

.header-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;

    label {
        color: var(--color-text-contrast);
        font-size: 0.5rem;
        user-select: none;
    }

    span {
        color: var(--color-text);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.6rem;
    }
}

.header-cell,
.header-cell span,
.header-cell label {
    min-width: 0;
    min-height: 0;
    max-height: 100%;
}

.num-input {
    position: relative;
    width: 4rem;
    height: 1.5rem;
    border-radius: var(--space-3);

    background-color: var(--color-border);
    border: none;
    padding: var(--space-1);

    box-shadow: .2rem .2rem .2rem color-mix(in oklch, var(--color-shadow) 10%, transparent);
    cursor: pointer;

    .num-input-value {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: inherit;

        background-color: var(--color-bg-contrast);
        color: var(--color-text);

        span {
            user-select: none;
            font-weight: 500;
            font-size: 0.9rem;
            color: color-mix(in oklch, var(--color-border), var(--color-text));
        }
    }

    .num-input-panel {
        position: absolute;

        display: grid;
        grid-template-columns: 1fr;

        height: min-content;
        width: min-content;
        padding: var(--space-2);
        border-radius: var(--space-3);

        background-color: var(--color-bg-contrast);
        border: 1px solid var(--color-border);
        box-shadow: .2rem .2rem .2rem .1rem color-mix(in oklch, var(--color-shadow) 10%, transparent);

        transition: var(--transition-fast);

        top: 0;
        left: calc(100% + 0.1rem);
        cursor: default;

        z-index: 90;

        .num-input-panel-close {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 0;
            right: 0;

            width: 1.5rem;
            height: 1.5rem;

            svg {
                height: 70%;
                aspect-ratio: 1 / 1;
                color: var(--color-text);
            }
        }

        .num-input-panel-apply {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            bottom: .2rem;
            right: .2rem;

            width: 1.5rem;
            height: 1.5rem;

            div {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                width: 100%;

                border-radius: 50%;
                background-color: var(--color-primary-gradient);

                svg {
                    position: relative;
                    height: 75%;
                    aspect-ratio: 1 / 1;

                    color: var(--color-bg);
                }
            }
        }
    }

    .num-input-panel.float .num-input-panel-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-3);

        .num-input-dot::after {
            content: ",";
            font-weight: 600;
            font-size: 1.5rem;
            color: color-mix(in oklch, var(--color-border), var(--color-text));
        }
    }
}

.num-integer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2)
}

.num-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    transition: var(--transition-fast);
    cursor: pointer;

    svg {
        position: relative;
        color: var(--color-bg);
    }
}

.num-arrow.bad-click {
    animation: numArrowBadClick var(--transition-fast);
}

.num-arrow:hover {
    filter: brightness(0.95) saturate(2);
}

.num-arrow::after {
    position: absolute;

    color: color-mix(in oklch, var(--color-border), var(--color-text));
    font-weight: 500;

    z-index: 1;
}

.num-arrow.tenth {
    width: 3rem;
    height: 2rem;
    border-radius: var(--space-2);

    background-color: var(--color-bg);
    border: 2px solid var(--color-border);
}

.num-arrow.sub:not(.tenth) {
    svg {
        transform: rotate(180deg);
    }
}

.num-arrow.tenth::after {
    margin-top: 0;
}

.num-arrow.add:not(.tenth)::after {
    content: "+1";
    margin-top: 1rem;
}

.num-arrow.add.tenth::after {
    content: "+10";
}

.num-arrow.sub:not(.tenth)::after {
    content: "-1";
    margin-top: -1rem;
}

.num-arrow.sub.tenth::after {
    content: "-10";
}

.num-field {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 2rem;
    border-radius: var(--space-1);

    background-color: var(--color-bg);
    box-shadow: 0 0 0 .2rem var(--color-border);
    margin: .2rem;

    .num-field-value {
        font-weight: 500;
        color: var(--color-text);
    }
}

@keyframes numArrowBadClick {
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}