.header {
    display: grid;
    grid-template-columns: min-content 1fr 3rem;

    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);

    gap: var(--space-3);

    padding: var(--space-2);
    margin-bottom: var(--space-6);

    min-height: 7rem;
    max-height: 7rem;

    position: sticky;
    top: 0;
    z-index: 100;
}

.address {
    display: grid;
    grid-template-columns: 10% repeat(4, 1fr);
    grid-template-rows: 50% 50%;

    height: 100%;
    width: 100%;

    .address-name {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-weight: 500;
            color: var(--color-text-contrast);
            user-select: none;
        }
    }

    .from,
    .to {
        display: flex;
        justify-content: center;
        align-items: center;
        text-overflow: ellipsis;

        .address-content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            label {
                color: var(--color-text-contrast);
                font-size: 0.6rem;
                user-select: none;
            }

            span {
                color: var(--color-text);
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.8rem;
            }
        }
    }

    .to {
        grid-column: span 4;
    }
}

.main {
    padding-inline: var(--space-4) 5.5rem;
    display: flex;
}


#createNew {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 3.5rem;
    min-width: 3.5rem;
    max-height: 3.5rem;
    min-height: 3.5rem;

    border-radius: var(--space-4);
    margin-right: var(--space-4);

    background: linear-gradient(-45deg, color-mix(in oklch, var(--color-primary-gradient) 30%, transparent), color-mix(in oklch, var(--color-primary) 60%, transparent));
    border: none;
    background-size: 100% 100%;
    box-shadow: 0 5px 10px color-mix(in oklch, var(--color-primary-gradient) 20%, transparent);

    transition: var(--transition-fast);

    svg {
        color: var(--color-primary);
        width: 100%;
        height: 100%;
    }
}

#createNew.clicked {
    background-size: 200% 200%;
}

.tasks-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;

    width: 100%;
}

.tasks-list {
    display: grid;
    grid-template-columns: 1fr;

    width: 100%;
}

.task-value-wrapper,
.create-new-panel-wrapper {
    display: flex;

    overflow: hidden;
    width: 100%;
    height: 0;

    opacity: 0;

    transition: var(--transition-slow);

    mask-image: linear-gradient(180deg, black 0%, transparent 100%);
    mask-size: 300% 300%;
    mask-position: 0 100%;
}

.task.opened .task-value-wrapper,
.create-new-panel-wrapper.opened {
    opacity: 1;
    padding: var(--space-2) 0;
    mask-image: linear-gradient(180deg, black 100%, transparent 100%);
    mask-position: 0 0;
}

.create-new-panel-wrapper.opened {
    margin-bottom: var(--space-4);
}

.task-value,
.create-new-panel {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: var(--space-4);

    box-sizing: border-box;

    padding: var(--space-4);

    height: 10rem;
    width: 100%;
    border-radius: var(--space-4);

    background-color: var(--color-bg-contrast);
    border: 1px solid var(--color-border);
    box-shadow: 0 5px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);

    .create-new-panel-head {

        .create-new-panel-name {
            color: var(--color-text);
            font-size: 0.9rem;
            font-weight: 500;
        }
    }

    .task-value-main,
    .create-new-panel-main {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: repeat(2, 1fr);
        gap: var(--space-2) var(--space-4);
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        .textarea {

            width: 100% !important;
            height: 100% !important;

            grid-row: span 2;
        }
    }
}


.pin-files {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20%;

    background: linear-gradient(-45deg, var(--color-primary), var(--color-primary-gradient));
    background-size: 150% 150%;
    box-shadow: 0 5px 10px color-mix(in oklch, var(--color-shadow) 30%, transparent);

    color: var(--color-bg);
    border: none;

    filter: saturate(0);

    transition: var(--transition-fast);

    svg {
        width: 60%;
        aspect-ratio: 1 / 1;
    }
}

.pin-files.has-files {
    filter: saturate(1);
}

.send-task {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20%;

    background: linear-gradient(-45deg, var(--color-primary), var(--color-primary-gradient));
    background-size: 150% 150%;
    box-shadow: 0 5px 10px color-mix(in oklch, var(--color-shadow) 30%, transparent);
    border: none;

    transition: var(--transition-fast);

    svg {
        color: var(--color-bg);
        transform: rotate(180deg);
        width: 100%;
        aspect-ratio: 1 / 1;
    }
}

.send-task:hover,
.pin-files:hover {
    background-position: 100% 100%;
}

.task {
    width: 100%;

    .task-head {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;

        height: 3rem;
        width: 100%;
        border-radius: 1.5rem;
        box-sizing: border-box;

        background-color: var(--color-bg-contrast);
        border: 1px solid var(--color-border);
        box-shadow: 0 5px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);
        padding-inline: var(--space-2);

        svg {
            color: var(--color-text-contrast);
            height: 1.5rem;
            width: 1.5rem;

            transition: var(--transition-fast);
        }

        .task-head-content {
            display: grid;
            grid-template-columns: 10% repeat(4, auto);
            gap: var(--space-4);

            width: 100%;
            height: 100%;
            min-width: 0;
            min-height: 0;

            .address-name {
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 0.8rem;
                    color: var(--color-text-contrast);
                    font-weight: 500;
                    user-select: none;
                }
            }

            .from {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                text-overflow: ellipsis;

                min-width: 0;
                min-height: 0;

                .from-content {
                    font-size: 0.8rem;
                    color: var(--color-text);
                    font-weight: 500;

                    user-select: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;

                    min-width: 0;
                    min-height: 0;
                }
            }
        }
    }
}


.task.opened {
    .task-head {
        svg {
            transform: rotate(90deg);
        }
    }
}

.task-value {
    height: 7.75rem;
    grid-template-rows: 1fr;
}