:root {
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-16: 4rem;
    --space-20: 5rem;

    --font-family: Montserrat;

    --transition-fast: 180ms;
    --transition-slow: 500ms;

    --row-height: clamp(6rem, 15vh, 15vh);

    --font-size: clamp(2rem, 3vw + 1rem, 4.5rem);
}


:root, [data-theme="light"] {
    --color-bg: #fdfaf9;
    --color-bg-contrast: #ffffff;
    --color-text-contrast: #656565;
    --color-text: #171717;
    --color-border: #ccbcb6;
    --color-shadow: #171717;
    --color-primary: #01696f;
    --color-primary-gradient: #15969f;
    --color-primary-hover: #0c4e54;
    --color-primary-highlight: #dce9e7;

    --color-red: #edb6bf;
    --color-red-text: #b54c56;

    --color-yellow: #f2df8a;
    --color-yellow-text: #7d6800;

    --color-orange: #f1b777;
    --color-orange-text: #805601;

    --color-green: #a9ddb0;
    --color-green-text: #2f7a3a;

    --color-teal: #8fd8d8;
    --color-teal-text: #0d6c6c;

    --color-cyan: #9fdcf1;
    --color-cyan-text: #0f5f80;

    --color-blue: #77a8f1;
    --color-blue-text: #012980;

    --color-purple: #c6b3f2;
    --color-purple-text: #5a3f99;

    --color-pink: #f2b3da;
    --color-pink-text: #96386f;

    --color-white: #c8c8c8;
    --color-white-text: #4a4a4a;

    --color-gray: #7d7d7d;
    --color-gray-text: #363636;

    --color-stop: #ed4444;
}

[data-theme="dark"] {
    --color-bg: #171614;
    --color-bg-contrast: #1f1d1b;
    --color-text-contrast: #a39b97;
    --color-text: #f3efed;
    --color-border: #4b433f;
    --color-shadow: #000000;
    --color-primary: #4f98a3;
    --color-primary-gradient: #67b8c0;
    --color-primary-hover: #3d7f89;
    --color-primary-highlight: #223233;

    --color-red: #6a3941;
    --color-red-text: #f2c2c9;

    --color-yellow: #7a6818;;
    --color-yellow-text: #f3e29d;

    --color-orange: #81551d;
    --color-orange-text: #f2c189;

    --color-green: #335f39;
    --color-green-text: #b8e7be;

    --color-teal: #1f6363;
    --color-teal-text: #a8e7e7;

    --color-cyan: #215972;
    --color-cyan-text: #b8e7f6;

    --color-blue: #284d8a;
    --color-blue-text: #bdd5ff;

    --color-purple: #5a4588;
    --color-purple-text: #d8c8fb;

    --color-pink: #7a3f63;
    --color-pink-text: #f4c4e2;

    --color-white: #5f5f5f;
    --color-white-text: #f1f1f1;

    --color-gray: #444444;
    --color-gray-text: #d6d6d6;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    scrollbar-color: var(--color-border) color-mix(in oklch, var(--color-border) 30%, transparent);
}

button {
    cursor: pointer;
    outline: none;
}

.select,
input,
button,
a {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

.no-transition {
    transition: none !important;
}

html,
body {
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
}

.body {
    background-color: var(--color-bg);
}

.select {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    label {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-text);
    }

    select {
        width: min-content;
    }

    .select-panel {
        display: flex;
        position: relative;
        width: min-content;

        .select-part.head {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            cursor: pointer;

            z-index: 1;

            .select-option {
                .select-option-icon {
                    width: 0;
                    height: 0;
                    margin-left: 0;
                }
            }

            .select-header-icon {
                height: 2rem;
                width: 2rem;
                color: var(--color-text);
                border-radius: 50%;
                transition: var(--transition-fast);
                margin-left: auto;
            }

            .select-header-icon:hover {
                background-color: color-mix(in oklch, var(--color-text-contrast) 10%, transparent);
            }
        }
    }

    .select-panel.opened {
        .select-part.head {
            box-shadow: 0 0 0 5px color-mix(in oklch, var(--color-primary-gradient) 40%, transparent);
            border-color: var(--color-primary);
        }
    }

    .select-panel.closed {
        .select-header-icon {
            transform: rotate(180deg);
        }

        .select-part.bottom {
            transform: translateY(calc(-1 * var(--space-8)));
            height: 0 !important;
            opacity: 0;
            pointer-events: none;
        }
    }
}

.suggests-panel,
.select-part {
    box-sizing: border-box;
    min-width: min-content;

    padding: var(--space-3);
    min-height: 3.8rem;

    border: 1px solid var(--color-border);
    border-radius: var(--space-5);
    background-color: var(--color-bg-contrast);
    box-shadow: 0 .6rem .6rem color-mix(in oklch,  var(--color-shadow) 5%, transparent);

    outline: none;
    transition: var(--transition-fast);
}

.suggests-panel {
    transform: translateY(calc(-1 * var(--space-8)));
    opacity: 0;
    min-width: 15rem;
    max-width: 15rem;
    pointer-events: none;

    .select-option {
        min-width: 0;
        overflow: hidden;
        padding-left: var(--space-3) !important;

        .select-option-text {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .select-option-icon {
            display: none;
        }

        .select-option-text mark {
            background: none;
            color: var(--color-primary-gradient);
            font-weight: bold;
        }
    }
}

.suggests-panel.too-little,
.suggests-panel.zero {
    max-height: 4.1rem;
    text-align: center;
    align-content: center;
}

.suggests-panel.too-little::before,
.suggests-panel.zero::before {
    color: color-mix(in oklch, var(--color-border), var(--color-text-contrast));
}

.suggests-panel.zero::before {
    content: "Ничего не найдено";
}

.suggests-panel,
.select-part.bottom {
    position: absolute;
    top: calc(100% + var(--space-4));

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-2);

    transition: var(--transition-fast);

    overflow: hidden;

    .select-option {
        cursor: pointer;
        padding-inline: var(--space-6) var(--space-2);
    }

    .select-option:not(.selected):hover {
        background-color: color-mix(in oklch, var(--color-primary-highlight) 50%, transparent);
        border: 1px solid color-mix(in oklch, var(--color-primary-gradient) 50%, transparent);
        transform: translateY(-2px);
    }

    .select-option.selected {
        background-color: var(--color-primary-highlight);
        border: 1px solid var(--color-primary-gradient);

        .select-option-icon {
            opacity: 1;
        }
    }

    .select-option.selected:hover {
        transform: translateY(-2px);
    }
}

.notification {
    position: fixed;
    top: 9rem;
    right: 2rem;
    display: grid;
    grid-template-columns: auto 1fr min-content;
    gap: var(--space-2);
    transition: var(--transition-fast);
    opacity: 0;
    transform: translateY(50px);
    padding: var(--space-4);
    border-radius: var(--space-5);

    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    box-shadow: 0 .6rem .6rem color-mix(in oklch, var(--color-shadow) 10%, transparent);

    z-index: 1000;
    user-select: none;

    .notification-icon {
        height: var(--space-10);
        aspect-ratio: 1 / 1;

        display: flex;
        border-radius: var(--space-3);
        justify-content: center;
        align-items: center;

        svg {
            width: 75%;
            height: 75%;
        }
    }

    .notification-icon.ok {
        background-color: var(--color-green);
        color: var(--color-green-text);
    }

    .notification-icon.error {
        background-color: var(--color-red);
        color: var(--color-red-text);
    }

    .warning {
        background-color: var(--color-yellow);
        color: var(--color-yellow-text);
    }

    .notification-text {
        .notification-text-main {
            font-size: 1.1rem;
            color: var(--color-text);
        }

        .notification-text-add {
            font-size: 0.9rem;
            color: var(--color-text-contrast);
        }
    }

    .notification-close {
        margin-bottom: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        background: none;
        border: none;

        width: min-content;
        height: min-content;
        border-radius: 50%;

        padding: var(--space-1);

        transition: var(--transition-fast);

        svg {
            width: 1rem;
            height: 1rem;

            color: var(--color-text-contrast);
        }
    }

    .notification-close:hover {
        background-color: color-mix(in oklch, var(--color-text-contrast) 20%, transparent);
    }
}

.notification.show {
    transform: scale(1);
    opacity: 1;
}

.notification.hide {
    transform: translateX(15rem) scale(0.1);
    opacity: 0;
}

.textarea {
    box-sizing: border-box;
    appearance: none;
    border-radius: var(--space-2);
    border: 1px solid var(--color-text-contrast);
    background-color: var(--color-bg-contrast);
    outline: none;
    padding: var(--space-2);
    scrollbar-width: thin;
    resize: none;
    color: var(--color-text);

    height: 9.2em;
    width: 98%;
    font-size: 1rem;
    box-shadow: 0 .4rem .7rem color-mix(in oklch, var(--color-shadow) 5%, transparent);
}

.suggests-panel.scrollable,
.select-part.bottom.scrollable {
    overflow-y: auto;
    max-height: 14rem;
    border-radius: var(--space-5) 0 0 var(--space-5);
    scrollbar-width: thin;
}

.select-option {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    align-items: center;
    padding: var(--space-2) var(--space-2);
    box-sizing: border-box;
    height: min-content;
    width: 100%;

    border: 1px solid transparent;
    border-radius: var(--space-2);

    transition: var(--transition-fast);
    user-select: none;

    .select-option-text {
        white-space: nowrap;
        color: var(--color-text);
    }

    .select-option-icon {
        color: var(--color-primary);
        height: 1.5rem;
        width: 1.5rem;
        margin-left: auto;
        opacity: 0;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;

    border-radius: 50%;
    background-color: var(--color-bg-contrast);
    border: 3px solid var(--color-border);
    transition: var(--transition-fast);
    box-shadow: 0 .6rem .6rem color-mix(in oklch, var(--color-shadow) 5%, transparent);

    .checkbox-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        border-radius: 50%;
        background: linear-gradient(-45deg, var(--color-primary), var(--color-primary-gradient));
        box-shadow: 0 0 .7rem .15rem color-mix(in oklch, var(--color-primary) 30%, transparent);
        scale: 0.5;
        opacity: 0;

        z-index: 1;

        svg {
            width: 70%;
            height: 70%;
            color: var(--color-bg-contrast);
        }


    }
}

.checkbox.no {
    animation: 0.3s checkbox-disappearance forwards;
}

.checkbox.yes {
    animation: 0.3s checkbox-appearance forwards;
}

.checkbox.no .checkbox-inner {
    animation: 0.3s checkbox-inner-disappearance forwards;
}

.checkbox.yes .checkbox-inner {
    animation: 0.3s checkbox-inner-appearance forwards;
}

.checkbox.no.disabled {
    filter: saturate(0) brightness(0.9);
}

.checkbox.yes.disabled {
    filter: saturate(0) brightness(1.2);
}

@keyframes checkbox-appearance {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
        border-width: 0;
    }
}

@keyframes checkbox-disappearance {
    0% {
        scale: 1;
        border-width: 0;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

@keyframes checkbox-inner-appearance {
    0% {
        scale: 0;
        opacity: 0;
    }

    50% {
        scale: 1.05;
        opacity: 1;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes checkbox-inner-disappearance {
    0% {
        scale: 1;
        opacity: 1;
    }

    50% {
        scale: 1.05;
        opacity: 1;
    }

    100% {
        scale: 0;
        opacity: 1;
    }
}

.row-content {
    display: contents;
}

.undefined-content {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 95%;
    margin-left: 2.5%;
    height: 7rem;

    border-radius: var(--space-4);
    background-color: color-mix(in oklch, var(--color-shadow) 60%, transparent);

    span {
        color: var(--color-bg);
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.background-blur {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: color-mix(in oklch, var(--color-text) 50%, transparent);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;

    animation: background-blur 3s forwards;
}

.background-blur.loading {
    z-index: 10;
}

.background-blur.fast {
    animation: background-blur var(--transition-slow) forwards;
}

@keyframes background-blur {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading-icon {
    position: absolute;

    width: 5rem;
    height: 5rem;
    border-radius: 100%;

    border: 1rem solid var(--color-bg);
}

.loading-icon:before {
    content: "";
    display: block;
    position: absolute;
    left: -1rem;
    top: -1rem;

    width: 5rem;
    height: 5rem;
    border-radius: 100%;

    border-top: 1rem solid transparent;
    border-left: 1rem solid var(--color-primary);
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid transparent;

    transform: rotate(45deg);
    animation: load-rotation 1.5s infinite;
}

@keyframes load-rotation {
    100% {
        transform: rotate(405deg);
    }
}


.active-button {
    width: 12rem;
    height: 5rem;
    border-radius: var(--space-8);
    margin-right: var(--space-12);

    border: 1px solid transparent;
    background-image: linear-gradient(-90deg, var(--color-bg-contrast) 60%, var(--color-primary));
    background-size: 500% 500%;
    background-position: 1% 0;
    box-shadow: 0 0 0.7rem 0.4rem color-mix(in srgb, var(--color-primary) 30%, transparent);
    transition: var(--transition-slow) ease-out;

    font-weight: bold;
    font-size: 1.25rem;
    color: var(--color-bg);
}

.active-button.clicked {
    animation: active-button var(--transition-slow) ease-out forwards;
    color: color-mix(in oklch, var(--color-primary) 90%, transparent);
}

.escape {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.2rem;
    height: 3.2rem;

    border: none;
    background: none;

    transition: var(--transition-fast);

    svg {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        color: var(--color-text-contrast);
        transition: var(--transition-fast);
    }
}

.escape:hover {
    svg {
        background-color: color-mix(in oklch, var(--color-text-contrast) 10%, transparent);
    }
}

@keyframes active-button {
    30% {
        box-shadow: 0 0 1rem 1rem color-mix(in oklch, var(--color-primary) 20%, transparent);
    }

    100% {
        background-position: 90% 0;
        box-shadow: 0 0 0.7rem 0.4rem var(--color-primary-highlight);
        border: 1px solid color-mix(in oklch, var(--color-primary) 50%, transparent);
    }
}

.background-blur.close {

}

.close-page-panel {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4);
    box-sizing: border-box;

    width: 15rem;
    height: min-content;

    border-radius: var(--space-4);

    padding: var(--space-4);
    background-color: var(--color-bg);

    .close-page-text {
        font-weight: 500;
        font-size: 1rem;
    }

    .close-page-button {
        margin-left: auto;

        width: 3rem;
        height: 2rem;

        border-radius: var(--space-2);

        border: none;
        background: linear-gradient(90deg, var(--color-primary), var(--color-primary-gradient));
        color: var(--color-bg-contrast);

        font-weight: 500;
    }
}


.disconnect-warning {
    display: none;
    position: relative;
    color: var(--color-red-text);
    transition: var(--transition-slow);
    opacity: 0;
}

.disconnect-warning::before {
    content: "Нет связи с сервером. Работа с данными происходит в оффлайн режиме.";
    position: absolute;
    display: flex;
    align-items: center;

    height: 5rem;
    width: 12rem;
    border-radius: var(--space-2);

    background-color: var(--color-red-text);
    border: 1px solid var(--color-red-text);
    color: var(--color-bg);
    box-shadow: 0 10px 5px 0 color-mix(in oklch, var(--color-red-text) 20%, transparent);

    pointer-events: none;
    text-align: center;
    font-size: 0.8rem;

    top: -1rem;
    left: 100%;

    z-index: 101;

    transition: var(--transition-fast);
    opacity: 0;
}

.disconnect-warning:hover::before {
    opacity: 1;
}

.pin-files-downloading {
    display: none;
    flex-direction: column;
    margin-left: auto;
    opacity: 0;
    transition: 2s;

    .pin-files-downloading-line {
        display: flex;
        flex-direction: row;
        position: relative;

        width: 10rem;
        height: .3rem;
        border-radius: .15rem;

        background-color: color-mix(in oklch, var(--color-text-contrast) 40%, transparent);
    }

    .pin-files-downloading-line::before {
        content: "";

        position: absolute;
        height: 100%;
        width: 3rem;
        border-radius: .15rem;

        background: var(--color-primary-gradient);

        box-shadow: 0 0 10px color-mix(in oklch, var(--color-primary-gradient) 70%, transparent);

        animation: download 1.5s ease-in-out infinite;
    }
}

.pin-files-downloading::before {
    content: "Загрузка...";
    color: var(--color-text);
}

.pin-files-downloading.active {
    display: flex;
    opacity: 1;
}

.pin-files-icon:hover {
    background-position: 100% 100%;
}

.record-icon-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 6rem;
    box-sizing: border-box;

    .record-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 6rem;
        height: 6rem;
        border-radius: var(--space-5);

        color: var(--color-bg-contrast);

        background: linear-gradient(-45deg, var(--color-primary), var(--color-primary-gradient));
        background-size: 150% 150%;
        box-shadow: 0 5px 10px color-mix(in oklch, var(--color-shadow) 30%, transparent);
        border: none;

        svg {
            width: 80%;
            height: 80%;
        }
    }
}

.pin-files-panel {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: var(--space-6);

    width: 90vw;
    height: 70vh;

    padding: var(--space-6);

    background-color: var(--color-bg);
    border-radius: var(--space-10);

    box-shadow: 0 10px 40px color-mix(in oklch, var(--color-shadow) 30%, transparent);
}

.pin-files-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .pin-files-panel-name {
        font-size: 1.5rem;
        color: var(--color-text);
        font-weight: 700;
    }

    .pin-files-cell-update {
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        justify-items: center;

        justify-content: unset;

        height: 3.5rem;
        width: 9rem;
        font-size: 1rem;
        padding-inline: var(--space-4);
        margin-left: auto;

        .pin-files-cell-update-icon {
            height: 2rem;
            aspect-ratio: 1 / 1;
        }
    }

    .pin-files-cell-update.clicked {

        .pin-files-cell-update-icon {
            animation: again-rotate var(--transition-slow);
        }
    }

    .pin-files-panel-escape {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 3rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        margin-left: 4rem;

        background-color: var(--color-bg-contrast);
        border: 1px solid var(--color-border);

        svg {
            color: var(--color-text);
            width: 80%;
            aspect-ratio: 1 / 1;
        }
    }
}


.pin-files-panel-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    gap: var(--space-2);
    min-height: 0;
}

.pin-files-cell {
    display: grid;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;

    min-height: 0;

    border-radius: var(--space-6);

    padding: var(--space-4);

    background-color: var(--color-bg-contrast);
    border: 1px solid var(--color-border);
    overflow: hidden;
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);

    .pin-files-cell-header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: var(--space-3);

        .pin-files-cell-name {
            font-size: 1.1rem;
            font-weight: 500;
            user-select: none;
            transition: var(--transition-fast);
            height: min-content;
            opacity: 1;
            transform: scale(1);
        }

        .pin-files-cell-name.hide {
            opacity: 0;
            transform: scale(0);
        }

        .edit-panel {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--space-2);

            position: absolute;
            z-index: 1;
            height: 100%;
            background-color: color-mix(in oklch, var(--color-text-contrast) 5%, var(--color-bg));
            border-radius: var(--space-2);

            padding: var(--space-1);

            transition: var(--transition-fast);
            opacity: 0;
            transform: scale(0);

            .close-button {
                height: 80%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;

                border: none;
                color: var(--color-text-contrast);
                background: none;
            }

            .close-button:hover {
                background-color: color-mix(in oklch, var(--color-text-contrast), 50%);
            }

            .download-button,
            .delete-button,
            .play-button {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                aspect-ratio: 1 / 1;
                border-radius: var(--space-2);

                border: none;

                transition: var(--transition-fast);

                svg {
                    height: 90%;
                    margin-bottom: 0.1rem;
                }
            }

            .delete-button {
                background-color: var(--color-red);

                svg {
                    color: var(--color-red-text);
                }
            }

            .download-button {
                background-color: color-mix(in srgb, var(--color-blue) 80%, var(--color-bg));

                svg {
                    color: color-mix(in srgb, var(--color-blue-text) 80%, var(--color-bg));
                }
            }

            .play-button {
                background-color: color-mix(in oklch, var(--color-bg-contrast), var(--color-primary-gradient));
                transition: 90ms !important;

                svg {
                    color: var(--color-primary-gradient);
                    margin-left: 5%;
                }
            }

            .play-button.hide {
                height: 0;
                border-radius: 0;
                pointer-events: none;
            }

            .clicked-counter {
                color: var(--color-text-contrast);
                font-weight: 600;
            }

            .clicked-counter::before {
                content: "Выбрано:";
                margin-right: 0.2rem;
                font-weight: 400;
            }
        }

        .edit-panel.show {
            opacity: 1;
            transform: scale(1);
        }

        .pin-files-cell-counter {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-left: auto;

            width: 2rem;
            height: 2rem;
            border-radius: 50%;

            font-size: 1rem;
            font-weight: 600;
            user-select: none;

            background-color: color-mix(in oklch, var(--color-primary) 20%, transparent);
            color: var(--color-primary);
        }
    }
}

.pin-files-cell.files {
    grid-column: span 2;

    .pin-files-cell-footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-3);
        grid-template-rows: auto 1fr;

        min-height: 0;

        .files-panel-wrapper {
            overflow: auto;
            scrollbar-width: thin;

            .files-panel {
                display: grid;
                grid-template-columns: 1fr;
                gap: var(--space-3);

                min-height: 0;

                padding: var(--space-2);
                margin-bottom: auto;
            }
        }
    }

    .pin-files-button {
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        height: 3rem;
        border-radius: var(--space-2);

        padding: var(--space-1);

        color: var(--color-primary);
        background-color: color-mix(in oklch, var(--color-primary) 10%, transparent);
        border: 1px dashed var(--color-primary);

        svg {
            height: 100%;
            aspect-ratio: 1 / 1;
        }
    }

    .pin-files-button::after {
        content: "Нажмите чтобы выбрать файлы";
        position: absolute;
        left: calc(50% - 6rem);
    }
}

.file {
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    height: min-content;
    align-items: center;

    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    min-width: 0;
    border-radius: var(--space-2);
    padding-left: var(--space-1);

    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    transition: var(--transition-fast);

    .file-icon {
        height: 2.5rem;
        aspect-ratio: 1 / 1;
        color: var(--color-primary);
        margin: var(--space-1);
    }

    .file-type-icon {
        height: 2.5rem;
        aspect-ratio: 1 / 1;
        color: var(--color-primary);
        margin-right: var(--space-1);
    }

    .file-info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .file-name {
            font-weight: 500;
            min-width: 0;
        }

        .file-add-info {
            color: var(--color-text-contrast);
            font-size: 0.8rem;

            /*.file-extension::after {*/
            /*    content: "•";*/
            /*    margin-inline: 0.2rem;*/
            /*}*/
        }
    }
}

.file.clicked {
    box-shadow: 0 0 .5rem .2rem color-mix(in oklch, var(--color-primary) 40%, transparent);
    border-color: var(--color-primary);
}


.pin-files-cell.audio,
.pin-files-cell.video {
    width: 80%;
    height: 80%;

    .pin-files-cell-footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(0, 1fr) 20%;
        gap: var(--space-3)
    }

    .pin-files-cell-footer.no-buttons {
         grid-template-rows: auto minmax(0, 1fr);
    }
}

.on-mid > * {
    pointer-events: auto;
}

.record-header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;

    .is-record-active {
        display: flex;
        align-items: center;
        color: var(--color-text-contrast);
        transition: var(--transition-fast);
    }

    .is-record-active::before {
        content: "";
        display: flex;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;

        margin-right: 0.2rem;

        background: currentColor;
    }

    .is-record-active.active {
        color: var(--color-stop);
    }

    .time-counter {
        display: flex;
        flex-direction: row;

        margin-left: auto;

        color: var(--color-text);
        font-weight: 400;

        .time-counter-minutes::after {
            content: ":";
            margin-inline: 0.2rem;
        }
    }
}

.record-display {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: var(--space-4);

    color: color-mix(in oklch, var(--color-text-contrast) 70%, var(--color-border));
    background-color: color-mix(in oklch, var(--color-bg) 70%, var(--color-border));
    border: 1px solid var(--color-border);

    overflow: hidden;

    .record-file-name {
        position: absolute;
        bottom: var(--space-3);
        left: var(--space-6);
        font-size: 0.9rem;
        font-weight: 400;
        user-select: none;
    }

    .record-value {
        z-index: 10;
    }

    audio,
    video {
        background-color: var(--color-border);
        border-radius: var(--space-4);
        border: 10px solid var(--color-border);
    }

    video {
        max-width: 90%;
        max-height: 90%;
    }

    audio {
        min-width: 50%;
    }
}

.record-display > * {
    min-width: 0;
    min-height: 0;
}

.record-display::before {
    content: "Пока что здесь ничего нет...";
}

.record-display::after {
    content: "Новое";
    position: absolute;
    top: 10%;

    opacity: 0;
}

.record-display.play::before {
    display: none;
}

.record-display.updated::after {
    animation: new-record 2s;
}

.record-footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-inline: var(--space-4);
    justify-content: space-between;

    .again-button,
    .add-button {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;

        border: 1px solid var(--color-border);
        background-color: var(--color-bg-contrast);

        transition: var(--transition-fast);

        svg {
            height: 80%;
            color: var(--color-text);
        }
    }

    .again-button.rotate svg {
        animation: again-rotate var(--transition-slow);
    }

    .add-button.bad-clicked {
        animation: add-bad-click 300ms ease-out;
    }

    .add-button.clicked {
        animation: add-squish var(--transition-fast);
    }

    .record-button-video,
    .record-button-audio {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;

        cursor: pointer;

        background-color: color-mix(in oklch, var(--color-red), var(--color-bg));
        border: 5px solid var(--color-stop);

        transition: var(--transition-fast);
    }

    .record-button-video {

    }

    .record-button-video::before,
    .record-button-video::after {
        content: "";
        display: flex;
        position: relative;

        width: 15%;
        height: 50%;
        border-radius: var(--space-3);

        background-color: var(--color-stop);
        transition: var(--transition-fast);
    }

    .record-button-video::before {
        margin-right: 15%;
    }

    .record-button-audio::before {
        content: "";
        position: absolute;

        width: 40%;
        height: 40%;
        border-radius: 20%;

        background-color: var(--color-stop);

        transition: var(--transition-fast);
    }

    .record-button-video.play,
    .record-button-audio.play {
        background-color: var(--color-stop);
    }

    .record-button-video svg {
        position: absolute;
        right: 5%;

        height: 81%;

        z-index: 1;

        color: color-mix(in oklch, var(--color-red), var(--color-bg));

        transition: var(--transition-fast);
        transform: rotate(90deg);
        opacity: 0;
    }

    .record-button-video.play {
        svg {
            transform: rotate(0);
            opacity: 1;
        }
    }

    .record-button-video.play::before,
    .record-button-video.play::after {
        transform: scale(0);
        opacity: 0;
    }

    .record-button-audio.play::before {
        border-radius: 50%;
        transform: scale(1.2);
        background-color: color-mix(in oklch, var(--color-red), var(--color-bg));
    }
}

@keyframes again-rotate {
    0% {
        rotate: 0deg;
        scale: 1;
    }

    20% {
        scale: 0.8;
    }

    80% {
        scale: 0.8;
    }

    100% {
        rotate: -360deg;
        scale: 1;
    }
}

@keyframes download {
    0% {
        left: 0;
        opacity: 0;
        width: 0;
    }

    30%,
    50% {
        opacity: 1;
        width: 3rem;
    }

    100% {
        left: 9.8rem;
        opacity: 0;
        width: 0;
    }
}

@keyframes add-bad-click {
    50% {
        transform: scale(1.2);
        background-color: color-mix(in oklch, var(--color-stop), var(--color-bg));
        color: var(--color-red);
        border-color: var(--color-red);
    }
}