.header {
    display: grid;
    grid-template-columns: min-content 1fr 0 !important;
    gap: var(--space-3);
    padding: var(--space-2);

    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);

    min-height: 10rem;
    max-height: 10rem;
 
    position: sticky;
    top: 0;
    z-index: 100;

    .pin-files {
        height: unset !important;
        width: unset !important;
    }
}

.header-left-part {
    display: flex;
    flex-direction: column;

    .pin-files {
        margin-top: auto;
    }
}

.header-buttons-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--space-3);

    width: 4.7rem;
    height: 100%;

    .pause-button,
    .stop-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        position: relative;

        width: 100%;
        height: 100%;

        opacity: 0;
        pointer-events: none;

        transition: var(--transition-slow);

        border-radius: var(--space-5);

        box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 10%, transparent);

        svg {
            position: absolute;
            width: 95%;
            height: 95%;

            right: 0;

            transform: scale(1);
            opacity: 0;
            transition: var(--transition-fast);
        }
    }

    .pause-button {
        background: linear-gradient(-45deg, color-mix(in oklch, var(--color-primary-gradient) 50%, transparent), color-mix(in oklch, var(--color-primary) 60%, transparent));
        gap: 15%;

        svg {
            color: var(--color-primary);
        }
    }

    .pause-button::before,
    .pause-button::after {
        content: "";

        width: 20%;
        height: 60%;

        border-radius: var(--space-2);

        background-color: var(--color-primary);

        transition: var(--transition-fast);
    }

    .stop-button {
        background: linear-gradient(-45deg, color-mix(in oklch, var(--color-red) 50%, transparent), color-mix(in oklch, var(--color-red-text) 40% , transparent));

        svg {
            color: var(--color-red-text);
        }
    }

    .stop-button::before {
        content: "";

        width: 60%;
        height: 60%;

        border-radius: var(--space-3);

        background-color: var(--color-red-text);

        transition: var(--transition-fast);
    }

    .pause-button.clicked::before,
    .pause-button.clicked::after {
        transform: scale(0);
        opacity: 0;
    }

    .stop-button.clicked::before {
        transform: scale(0);
        opacity: 0;
    }

    .pause-button.clicked,
    .stop-button.clicked {
        svg {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.start-zn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: var(--space-5);
    box-sizing: border-box;

    border: 1px solid transparent;
    background-image: linear-gradient(-180deg, var(--color-bg-contrast) 50%, var(--color-primary));
    background-size: 500% 500%;
    background-position: 100% 95%;
    box-shadow: 0 0 0.7rem 0.4rem color-mix(in srgb, var(--color-primary) 30%, transparent);
    transition: var(--transition-slow) ease-out;

    font-weight: bold;
    font-size: 1.25rem;
    color: var(--color-bg);

    cursor: pointer;

    z-index: 1;

    svg {
        margin-left: 0.2rem;
    }
}

.start-zn.clicked {
    background: none;
    box-shadow: none;
    border: transparent;
    color: transparent;
    pointer-events: none;
}

.header-text {
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
    gap: var(--space-3);

    .active-button {
        margin: 0;
        display: none;
    }
}

.header-block {
    height: 100%;
}

.header-block.first {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;

    border: 1px solid var(--color-border);
    background-color: var(--color-bg-contrast);
    border-radius: var(--space-5);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);
    padding: var(--space-3) var(--space-5);

    .for-two,
    .for-three {
        display: grid;
        gap: var(--space-4);
    }

    .for-two {
        grid-template-columns: repeat(2, auto);
    }

    .for-three {
        grid-template-columns: repeat(3, auto);
    }
}

.header-block.second {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: var(--space-3);
}

.borderus {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;

    border: 1px solid var(--color-border);
    background-color: var(--color-bg-contrast);
    border-radius: var(--space-5);
    box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 5%, transparent);
    padding: var(--space-2) var(--space-5);

    .pin-files {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: auto;
        border: none;
        background: none;
    }
}

.header-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;

    label {
        color: var(--color-text-contrast);
        font-size: 0.5rem;
        user-select: none;
    }

    span {
        color: var(--color-text);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.6rem;
    }
}

.header-block,
.header-cell,
.borderus,
.header-cell span,
.header-cell label,
.for-two,
.for-three {
    min-width: 0;
    min-height: 0;
    max-height: 100%;
}

.packages-panel {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-5);

    margin-top: var(--space-4);
    margin-bottom: var(--space-20);
    padding-inline: var(--space-6);
}

.package-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-1);
}

.package {
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    width: 100%;

    padding-inline: var(--space-4);
    padding-block: var(--space-2);

    height: 5rem;
    border-radius: 2.5rem;

    transition: var(--transition-fast);

    background-color: var(--color-bg-contrast);
    border: 1px solid var(--color-border);

    .icon {
        width: var(--space-8);
        height: var(--space-8);
        display: flex;
        justify-content: center;
        align-content: center;
        color: var(--color-text-contrast);
        transition: var(--transition-fast);
        margin-right: var(--space-4);
    }

    .right-panel {
        display: flex;
        flex-direction: row;
        gap: var(--space-3);
        box-sizing: border-box;
        align-items: center;

        height: 100%;

        margin-left: auto;
        margin-right: var(--space-4);
        padding-block: 0.8rem;

        .checkbox {
            box-sizing: border-box;
            height: 100%;
        }
    }

    .right-panel.select-all span {
        content: "Выбрать всё";
        font-size: 0.7rem;
        font-weight: 400;
    }
}

.package.opened {
    .icon {
        transform: rotate(90deg);
    }
}

.package.close-forever {
    cursor: default;

    .icon {
        opacity: 0.5;
    }

    .package-name::after {
        content: "";
        font-weight: 400;
        font-size: 1rem;
        color: var(--color-text-contrast);
        margin-bottom: 0.1rem;
        margin-left: 1rem;
    }

    .right-panel {
        display: none;
    }
}

.package.close-forever.empty {
    .package-name::after {
        content: "Пусто";
    }
}

.package.close-forever.undefined {
    .package-name::after {
        content: "Не найденно";
    }
}

.package-name {
    font-weight: 400;
    font-size: 1rem;
}

.package-value-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4);

    height: 0;
    padding: 0 var(--space-2) 0 var(--space-2);

    opacity: 0;
    overflow: hidden;

    transition: var(--transition-slow);

    mask-image: linear-gradient(180deg, black 0%, transparent 100%);
    mask-size: 300% 300%;
    mask-position: 0 100%;
}

.package-value-wrapper.opened {
    opacity: 1;
    padding: var(--space-2);
    mask-image: linear-gradient(180deg, black 100%, transparent 100%);
    mask-position: 0 0;
}

.package-value {
    width: 100%;
    height: 100%;
}

#recPinFiles .pin-files-icon{
    box-shadow: 0 0 10px color-mix(in oklch, var(--color-shadow) 30%, transparent);
}

.rec-bottom {
    display: grid;
    grid-template-columns: min-content 4fr 1fr;
    gap: var(--space-4);

    margin-top: var(--space-4);
    height: 3rem;

    input[type=text] {
        appearance: none;
        border-radius: var(--space-2);
        border: 1px solid var(--color-text-contrast);
        background-color: var(--color-bg-contrast);
        outline: none;
        padding: var(--space-2);
        color: var(--color-text);
        font-size: 1rem;
        box-shadow: 0 .4rem .7rem color-mix(in oklch, var(--color-shadow) 5%, transparent);
    }

    #recApply {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        box-shadow: none;
        font-size: 1rem;
    }
}

.info-table {
    display: grid;
    gap: var(--space-4) var(--space-1);
    padding-inline: var(--space-2);
}

.info-table.works {
    grid-template-columns: min-content auto min-content min-content 4rem;
}

.info-table.details {
    grid-template-columns: min-content auto min-content auto min-content min-content 4rem;
}

.table-column-name {
    padding: var(--space-1) 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    text-align: center;
    user-select: none;

    span {
		font-size: 0.8rem;
        font-weight: 500;
        color: var(--color-text-contrast);
    }
}

.table-column-name.no-break {
    span {
        white-space: nowrap;
    }
}

.table-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    padding: var(--space-1);

    border: 1px solid var(--color-border);
    border-radius: var(--space-3);
    min-width: 4rem;
    transition: var(--transition-fast);
    user-select: none;
    background-color: var(--color-bg-contrast);

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        min-height: 0;
        text-align: center;
        font-size: 0.9rem;
    }
}


.table-cell.work-content {
    padding-inline: var(--space-5);

    span {
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
    }
}

.table-cell.number {
    transition: var(--transition-fast);
}

.table-cell.number.create {
    font-weight: 600 !important;
    background-color: color-mix(in oklch, var(--color-blue) 40%, transparent) !important;
    color: var(--color-blue-text) !important;
    border-color: var(--color-blue-text) !important;
}

.row-content.yes .table-cell.number.create {
    box-shadow: 0 0 .5rem .2rem color-mix(in oklch, var(--color-blue-text) 40%, transparent) !important;
}

.table-cell.number.update {
    font-weight: 600 !important;
    background-color: color-mix(in oklch, #fff4c1 40%, transparent) !important;
    color: #c0a002 !important;
    border-color: #c0a002 !important;
}

.row-content.yes .table-cell.number.update {
    box-shadow: 0 0 .5rem .2rem color-mix(in oklch, #c0a002 40%, transparent) !important;
}

.table-cell.number.delete {
    font-weight: 600 !important;
    background-color: color-mix(in oklch, var(--color-red) 40%, transparent) !important;
    color: var(--color-red-text) !important;
    border-color: var(--color-red-text) !important;

}

.row-content.yes .table-cell.number.delete {
    box-shadow: 0 0 .5rem .2rem color-mix(in oklch, var(--color-red-text) 40%, transparent) !important;
}

.table-content {
    display: contents;
}

.change-saver-wrapper {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 5vh;
}

.row-content.yes {
    .table-cell {
        box-shadow: 0 0 .5rem .2rem color-mix(in oklch, var(--color-primary) 40%, transparent);
        border-color: var(--color-primary);
    }
}

.pin-files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    aspect-ratio: 1 / 1
}

.pin-files-text {
    font-size: 0.7rem;
    font-weight: 500;

    color: var(--color-text-contrast);
    user-select: none;
}

.pin-files-text::before {
    content: "Раннее:";
    margin-right: 0.2rem;
}

.pin-files-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 20%;

    background: linear-gradient(-45deg, var(--color-primary), var(--color-primary-gradient));
    background-size: 150% 150%;
    box-shadow: 0 5px 10px color-mix(in oklch, var(--color-shadow) 30%, transparent);

    color: var(--color-bg);
    border: none;

    transition: var(--transition-fast);

    filter: saturate(0);

    svg {
        width: 60%;
        aspect-ratio: 1 / 1;
    }
}

.pin-files.has-files .pin-files-icon {
    filter: saturate(1);
}

.header {
    grid-template-columns: repeat(2, 1fr) auto;
}


.change-counter {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    user-select: none;

    background: linear-gradient(180deg, color-mix(var(--color-primary), var(--color-primary-gradient)), var(--color-primary-gradient));
    color: var(--color-primary);

    margin-right: var(--space-3);
    transition: var(--transition-fast);

    span {
        font-size: 1rem !important;
        font-weight: 600 !important;
        color: var(--color-bg-contrast);
    }
}


.change-counter.hide {
    transform: scale(0);
}


.checklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: var(--space-4);
    height: 3rem;
    align-items: center;
    justify-items: center;

    margin-top: var(--space-4);

    padding-inline: var(--space-4);

    .checklist-counter {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: var(--space-1);
        box-sizing: border-box;

        height: 100%;
        border-radius: var(--space-4);

        background-color: var(--color-bg-contrast);
        box-shadow: 0 10px 10px color-mix(in oklch, var(--color-shadow) 10%, transparent);
        padding: var(--space-2);
        border: 1px solid var(--color-border);

        .checklist-cell-counter {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--space-2);
            width: 3rem;

            span {
                font-weight: 600;
                font-size: 0.7rem;
                user-select: none;
                color: var(--color-bg-contrast);
            }
        }

        .checklist-cell-counter.red {
            background-color: #d83747;
        }
        .checklist-cell-counter.yellow {
            background-color: #e4bd04;
        }
        .checklist-cell-counter.green {
            background-color: #42ba52;
        }
        .checklist-cell-counter.gray {
            background-color: var(--color-text-contrast);
        }
    }
}

#checklistButton {
    width: auto !important;
    height: 100% !important;
    padding-inline: var(--space-5);
    font-size: unset !important;

    span {
        font-size: 0.8rem !important;
        margin-bottom: 0.5rem;
    }
}

@keyframes add-squish {
    50% {
        scale: 0.8;
    }
}

@keyframes new-record {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    100% { opacity: 0; }
}